html {
    font-family: Helvetica;
}

body{
    background-color: goldenrod;
}

h1 {
    color: white;
    text-align: center;
}

.centered{
    display: flex; 
    justify-content: center; 
    align-items: below; 
    margin: 0;
    font-size: 30px;
    position: relative;
}